
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Home/Temp1.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/styles/blog.css">
    <link rel="stylesheet" type="text/css" href="~/styles/blog_responsive.css">
</head>



<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/images/blog.png" data-speed="0.8"></div>
    <div class="home_container">
        <div class="home_content">
            <div class="home_title">Hakkımızda</div>
            <div class="breadcrumbs">
                <ul class="d-flex flex-row align-items-center justify-content-start">
                    <li><a href="index.html">Anasayfa</a></li>
                    <li>Hakkımızda</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Blog -->

<div class="blog">
    <div class="section_container">
        <div class="container">
            <div class="row">
                <div class="col">

                    <!-- Blog Posts -->
                    <div class="blog_bosts">

                        <!-- Blog Post -->
                        <div class="blog_post">
                         
                            <div class="blog_post_content">
                                <div class="blog_post_date"><a href="#">June 18, 2018</a></div>
                                <div class="blog_post_title"><a href="#">10 Nightwear dresses you need to see</a></div>
                                <div class="blog_post_info d-flex flex-row align-items-start justify-content-start">
                                    <div class="blog_post_author">By<a href="#"> Admin</a></div>
                                    <div class="blog_post_category">
                                        <ul>
                                            <li>in <a href="#">Fashion</a></li>
                                        </ul>
                                    </div>
                                    <div class="blog_post_comments"><a href="#">3 Comments</a></div>
                                </div>
                                <div class="blog_post_text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing eli t. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integ er bibendum sodales arcu id te mpus. Ut consectetur lacus. Lorem ipsum dolor sit amet, consectetur adipiscing eli t. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integ er bibendum sodales arcu id te mpus. Ut consectetur lacus.</p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>
@section scripts{
<script src="~/js/blog.js"></script>
}


